<div class="flex flex-col justify-center" data-controller="grade sort" >
    <h1 class="mb-4 text-center text-6xl font-bold"><%= @course.name %></h1>
    <div class="mt-4">
       <div>
        <% if current_user == @course.teacher %>
           <%= render "teacher_table", students: @students, course: @course %>
        <% else %>
            <% if @grade.present? %>
                <%= render "student_table", grade: @grade%>
            <% else %>
                <h1 class="mb-4 text-center text-6xl font-bold">Brak ocen</h1>
            <% end %>
        <% end %>
        </div>
    </div>
</div>
